.zext {
  max-width: 100%;
  max-height: 100%;
}

.sudo-tty {
  padding: 12px 20px;
}

.stdexit {
  font-family: monospace;
  border-radius: 4px;
  border: 2px solid #ccc;
  min-height: 10%;
  background-color: #f8f8f8;
}

.stdout {
  border: 2px solid #ccc;
  font-family: monospace;
  border-radius: 4px;
  padding: 12px 20px;
  overflow: scroll;
  min-height: 75%;
  max-height: 75%;
  background-color: #f8f8f8;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.head_links {
  position: sticky;
  top: 0px;
}

.links {
  float: right;
  font-family: Arial;
  text-align: center;
  padding: 7px;
  background-color: #e7e7e7;
  color: black;
  text-decoration: none;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.column-links {
  max-width: 100%;
  min-width: 100%;
}

.main-links {
  font-size: 2em;
}

.links:hover {
  background: #ddd;
}

.flex-parent {
  display: flex;
  min-width: 100%;
}

.flex-step-child {
  flex: 1;
  max-height: 90vh;
}

.flex-child {
  flex: 1;
  max-height: 90vh;
  padding: 12px 20px;
  overflow: auto;
  margin: 10px;
}

.docs {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  background-color: #f8f8f8;
}

.flex-child:first-child {
  flex: 0.2;
  margin-right: 20px;
}